.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 50px;
}
.wave {
  width: 200px;
  height: 200px;
}
#canvas {
  box-sizing: content-box;
  padding: 5px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid rgba(154, 205, 50, .8);  
}

body {
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(118, 218, 255);
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vh;
    background-color: #fff;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
  }

  &::before {
    bottom: 15vh;
    border-radius: 45%;
    animation-duration: 10s;
  }

  &::after {
    bottom: 12vh;
    opacity: .5;
    border-radius: 47%;
    animation-duration: 10s;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0) rotateZ(360deg);
  }
}

.type3 {
  position: relative;
  background-color: rgb(154, 205, 50);
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 50%;
    background-color: rgba($color: #fff, $alpha: 0.6);
    border-radius: 45%;
    transform: translate(-50%, -70%) rotate(0);
    z-index: 10;
    animation: rotate3 6s linear infinite;
  }
  &::after {
    border-radius: 47%;
    background-color: rgba($color: #fff, $alpha: .9);
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate3 10s linear -5s infinite;
    z-index: 20;
  }
}

@keyframes rotate3 {
  50% {
    transform: translate(-50%, -72%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}